* {box-sizing: border-box;}

body {
    background: rgb(255, 255, 255);
    margin: 0%;
    padding: 10px;
    margin-top: 10px;
    height: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

hr {
    margin-top: 50px;
    border:hidden 3px;
}


.flex-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-around; 
    flex-direction:row;
    
    background-color: #ffffff;
    text-decoration: none;
}

header nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

header h1{
    width: 50%;
    text-align: left;
}

.botao {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #be9d63;
}
.botao:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.botao:active {
	position:relative;
	top:1px;
}

h1{
    margin: 0%;
    font-family: "Madimi One", sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #ff9f0e;
    text-shadow: #00000088 1px 1px 2px;
    text-transform: uppercase;
}

.destaque{
    background-color: rgb(235, 235, 235);
    padding: 10px;
}

h2 {text-shadow: #b3b3b3 1px 1px 2px; text-transform: uppercase;}

.text-Up {text-transform: uppercase;}

.logos-container{
    display: flex;
    justify-content: space-evenly;
    text-align:end;
    text-shadow: #919191 1px 1px 3px;
    list-style: none;
}

.links-container{
    display: flex;
    justify-content:flex-start; 
    flex-direction:column;
    padding: 3px;
    text-align: left;
}

figure {
    transform: scale(0.95);
    transition: 0.4s;
    filter: grayscale(100%);
}

figure:hover{
    transform: scale(1);
    transition: 0.4s;
    filter: grayscale(0%);
}

a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    text-shadow: #919191 1px 1px 2px;
    font-weight: bold;
    font-size: 20px;
}


.botaoB {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fa9d23 100%);
	background-color:#919191;
	border-radius:6px;
	border:1px solid #afafaf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	padding:5px 20px;
	text-shadow:0px 1px 0px #be9d63;
}

.botaoB:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}

.botaoB:active {
	position:relative;
	top:1px;
}