body {
    margin: 0%;
    padding: 10px;
    height: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(255, 255, 255);
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

hr {
    margin-top: 50px;
    border:hidden 3px;}


.flex-container {
    display: flex;
    justify-content:space-between; 
    flex-direction:row;
    flex-wrap: wrap;
    
    background-color: #ffffff;
    height: 100%;
    padding: 15px;
    text-decoration: none;
  }

.botao {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #be9d63;
}
.botao:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.botao:active {
	position:relative;
	top:1px;
}

h1{
    margin: 0%;
    font-family: "Madimi One", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ff9f0e;
    text-shadow: #00000088 1px 1px 2px;
    text-transform: uppercase;
}

.destaque{
    background-color: rgb(235, 235, 235);
    padding: 10px;
}

h2 {text-shadow: #b3b3b3 1px 1px 2px; text-transform: uppercase;}

.text-Up {text-transform: uppercase;}

.logos-container{
    display: flex;
    

}
